form {
  display: block;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 15px;
  margin: 10px 0;

  input, select, button {
    padding: 8px 5px;
  }

  button {
    border: 1px solid teal;
    color: teal;
    background-color: aquamarine;
    font-weight: 600;
  }
}
