<h1>{{title}}</h1>
<nav>
  Show:
  <a routerLink="/shelf"> All</a>
  <a routerLink="/shelf/{{collections.TO_READ}}"> To Read</a>
  <a routerLink="/shelf/{{collections.READING}}"> Reading</a>
  <a routerLink="/shelf/{{collections.READ}}"> Read</a>
</nav>
<button (click)="loadBooks()">Reload books</button>
<app-book-on-shelf-form (newBook)=newBookHandler($event)></app-book-on-shelf-form>

<div class="collection_container">
  <div *ngFor="let book of books | async">
    <div *ngIf="book.collection === collections.TO_READ" class="to_read">
      <app-books-on-shelf [book]="book" (collectionChange)="changeCollectionHandler($event)"></app-books-on-shelf>
    </div>
    <div *ngIf="book.collection === collections.READING" class="reading">
      <app-books-on-shelf [book]="book" (collectionChange)="changeCollectionHandler($event)"></app-books-on-shelf>
    </div>
    <div *ngIf="book.collection === collections.READ" class="read">
      <app-books-on-shelf [book]="book" (collectionChange)="changeCollectionHandler($event)"></app-books-on-shelf>
    </div>
  </div>

</div>
